<!DOCTYPE html>
<html>
  <head>

    <% if logged_in? %>
      welcome <%=current_user.user_name%>
        <form  action="<%=session_url%>" method = "post">
          <input type= "hidden" name="_method" value="delete">
          <input type= "submit" value= "logout">

        </form>
    <% else %>
      <p> please log in ! </p>
      <%= link_to "login", new_session_path %>
      <p> OR Make an Account! </p>
      <%= link_to "register", new_user_url %>
    <% end %>

    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
